In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('data.csv', index_col=0)
df = df.replace({'yes': 1, 'no': 0})
df.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
1,42000.0,5850,3,1,2,1,0,1,0,0,1,0
2,38500.0,4000,2,1,1,1,0,0,0,0,0,0
3,49500.0,3060,3,1,1,1,0,0,0,0,0,0
4,60500.0,6650,3,1,2,1,1,0,0,0,0,0
5,61000.0,6360,2,1,1,1,0,0,0,0,0,0

In [31]:
# m = sum(xy) - y_mean * sum(x)
#      ----------------------
#     sum(x*2) - x_mean * sum(x)

# c = y_mean - x_mean

# Y = df['price'].values
yd = df.iloc[:, 0:1].values
xd = df.iloc[:, 1:].values
m=len(xd)
n=xd.shape[1]

lamb=100
regularisation=np.multiply(lamb,np.identity(n))
first_term = np.linalg.inv((np.matmul(xd.T,xd) + regularisation))
second_term=np.matmul(first_term,xd.T)
w=np.matmul(second_term,yd)

In [32]:
w.shape,w

((11, 1), array([[4.55232225e+00],
        [3.39346153e+03],
        [8.78940992e+03],
        [6.66601552e+03],
        [3.29596049e+03],
        [3.15568692e+03],
        [4.17453775e+03],
        [2.21497603e+03],
        [6.94221519e+03],
        [4.05568297e+03],
        [4.98077481e+03]]))

In [34]:
def mse(y,y_):
    return ((y-y_)*(y-y_)).mean()

def forward(x,w):
    return np.matmul(x,w)

print(mse(yd,forward(xd,w)))

259423214.6071533